In [1]:
import pandas as pd
import random
import datetime

In [2]:
data = pd.read_csv("USA_cars_datasets.csv")

In [3]:
header = ['isAvaliable','make','manufactureYear','seatNum','seriesNum','model','location','updateTime','maintanceExpreiedDate']

In [4]:
def createRandDate(start, end):
    time_between = end - start
    days_between = time_between.days
    random_num_of_days = random.randrange(days_between)
    random_date = start + datetime.timedelta(days = random_num_of_days)
    return random_date

In [5]:
all_cars = []
for index, row in data.iterrows():
    each_car = []

    # is avaliabel
    each_car.append(True if row['price'] >= 10000 else False) 

    # make
    each_car.append(row['brand'])

    # manufactureYear
    each_car.append(row['year'])

    # setNum
    each_car.append(random.choice([1,2,3,4,5]))

    # SeriesNum
    each_car.append(row['vin'].strip())

    # model
    each_car.append(row['model'].strip())

    # location
    each_car.append(row['state'].strip())

    updateTime = createRandDate(datetime.date(2010,1,1),datetime.date.today())
    maintanceExpreiedDate = createRandDate(updateTime,datetime.date(2025,12,1))

    # updateTime 
    each_car.append(str(updateTime.month) + '/' + str(updateTime.day) + '/' + str(updateTime.year) )

    # maintanceExpreiedDate
    each_car.append(str(maintanceExpreiedDate.month) + '/' + str(maintanceExpreiedDate.day) + '/' + str(maintanceExpreiedDate.year) )

    # append to list
    all_cars.append(each_car)

In [6]:
df = pd.DataFrame(all_cars, columns = header)
df

,isAvaliable,make,manufactureYear,seatNum,seriesNum,model,location,updateTime,maintanceExpreiedDate
0,False,toyota,2008,3,jtezu11f88k007763,cruiser,new jersey,1/26/2016,10/27/2018
1,False,ford,2011,1,2fmdk3gc4bbb02217,se,tennessee,4/15/2016,7/4/2022
2,False,dodge,2018,4,3c4pdcgg5jt346413,mpv,georgia,4/7/2017,11/16/2021
3,True,ford,2014,1,1ftfw1et4efc23745,door,virginia,5/4/2010,11/5/2022
4,True,chevrolet,2018,1,3gcpcrec2jg473991,1500,florida,5/13/2017,10/11/2023
...,...,...,...,...,...,...,...,...,...
2494,False,nissan,2019,1,3n1cn7ap9kl880319,versa,california,8/4/2015,7/23/2025
2495,False,nissan,2018,5,3n1cn7ap5jl884088,versa,florida,7/16/2020,2/12/2022
2496,False,nissan,2018,2,3n1cn7ap9jl884191,versa,florida,10/4/2017,10/13/2022
2497,False,nissan,2018,3,3n1cn7ap3jl883263,versa,florida,8/14/2012,2/22/2019
2498,False,nissan,2018,3,3n1cn7ap4jl884311,versa,florida,6/3/2018,8/27/2023

In [7]:
df.to_csv('out.csv',index=False)